<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="loanRequirement">
      <h2 data-cy="loanRequirementDetailsHeading"><span>Loan Requirement</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ loanRequirement.id }}</span>
        </dd>
        <dt><span>Total Limit</span></dt>
        <dd>
          <span>{{ loanRequirement.totalLimit }}</span>
        </dd>
        <dt><span>Currency</span></dt>
        <dd>
          <span>{{ loanRequirement.currency }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ loanRequirement.type }}</span>
        </dd>
        <dt><span>Start Date</span></dt>
        <dd>
          <span>{{ loanRequirement.startDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>End Date</span></dt>
        <dd>
          <span>{{ loanRequirement.endDate | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/loan-requirement', loanRequirement.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
