<div>
  <h2 id="page-heading" data-cy="LoanAttributeHeading">
    <span>Loan Attributes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-loan-attribute"
        [routerLink]="['/loan-attribute/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Loan Attribute </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="loanAttributes?.length === 0">
    <span>No Loan Attributes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="loanAttributes && loanAttributes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="jobTitle"><span>Job Title</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="minSalary"><span>Min Salary</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="maxSalary"><span>Max Salary</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let loanAttribute of loanAttributes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/loan-attribute', loanAttribute.id, 'view']">{{ loanAttribute.id }}</a>
          </td>
          <td>{{ loanAttribute.jobTitle }}</td>
          <td>{{ loanAttribute.minSalary }}</td>
          <td>{{ loanAttribute.maxSalary }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/loan-attribute', loanAttribute.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/loan-attribute', loanAttribute.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(loanAttribute)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
